body {
    background-color: #fefef3;
    font-family: Arial, sans-serif;
}

.login-title {
    padding: 20px 20px;
    font-family: 'Tahoma', sans-serif;
    font-size: 50px;
    font-weight: 900;
    background: linear-gradient(180deg, #ffffff, #00aa00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}